#toolbar-navigator{background-color: red;}

#navigator-panel{
    position: absolute;
    top: 0;
    right: 30px;
    background-color: #fff;
    width: 0;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #999;
    -webkit-transition: width .4s;
    transition: width .4s;
}

#navigator-content h5{padding: 5px;}
#navigator-content h5{
    margin: 0;
    color: #999;
}



.main-view .content{
    -webkit-transition: right .4s;
    transition: right .4s;
}

.main-view.navigator-panel-open .content{right: 310px;}
    
.main-view.navigator-panel-open #navigator-panel{width: 280px;}